html, 
body {
    margin: 2rem;
    overflow: hidden;
    background-color: darkslateblue;
    color: #d8d8d8;
    font-family: 'Courier New', Courier, monospace;
}

body,
main,
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
}

.section {
    min-width: 300px;
    padding: 2rem;
    margin: 1rem auto;
    background-color: #171717;
    text-align: center;
}

a {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    text-decoration-line: none;
    text-transform: lowercase;
}

.nav-link {
    color: coral;
}

a:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

/* Media Queries */

@media screen and (max-width: 720px) {
    html,
    body {
        margin: 1.5rem;
    }

    .section {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    html,
    body {
        margin: 1rem;
    }
    
    .section {
        width: 100%;
    }
}
