html, body {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section {
    width: 90%;
    margin: 1rem auto;
}

.faq-collapse {
    width: 100%;
    background-color: seagreen;
    color: white;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    border: none;
    margin: 0.25rem 0;
}

.active, .faq-collapse:hover {
    background-color: orange;
}

.faq-content {
    padding: 0 1rem;
    background-color: rgb(184, 223, 223);
    display: none;
    overflow: hidden;
}

.footer {
    text-align: center;
}

.home-link {
    cursor: pointer;
    font-weight: 700;
    text-decoration-line: none;
}

.home-link:hover {
    text-decoration-line: underline;
}